<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tim.yixin">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 聊天界面拍照发送图片 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 聊天：收到消息后震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 后台收到消息的时候，休眠状态唤醒CPU，将消息显示在通知栏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 可选：监听手机重启自动重连服务器 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeYixin">
        <meta-data
            android:name="com.appkefu.lib.appkey"
            android:value="84f1ba886d0ede39a70b185cc4369389" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5b99d6bac1f8b5b88ec3d9c7325e5ec3" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tim.yixin.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/appkefu_provider_paths" />
        </provider>
        <!-- 聊天窗口, 可通过修改layout文件appkefu_activity_kfvip_chat.xml自定义窗口UI -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/appkefu_theme_no_titlebar" />
        <!-- 设置页面，点击聊天窗口右上角按钮进入，可清空聊天记录 -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFSettingsActivity"
            android:theme="@style/appkefu_theme_no_titlebar" />
        <!-- 常见问题类别页面，点击聊天页面输入框下方扩展面板:常见问题按钮进入 -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFFAQActivity"
            android:theme="@style/appkefu_theme_no_titlebar" />
        <!-- 常见问题详情页面， -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFFAQDetailActivity"
            android:theme="@style/appkefu_theme_no_titlebar" />
        <!-- 满意度评价页面 -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFRateActivity"
            android:theme="@style/appkefu_theme_no_titlebar" />
        <!-- 留言页面 -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFLeaveMessageActivity"
            android:theme="@style/appkefu_theme_no_titlebar" />
        <!-- 内嵌浏览器页面，打开网址 -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFWebBrowserActivity"
            android:theme="@style/appkefu_theme_no_titlebar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 此处data的android:scheme请填写您App的包名,保持android:host, 如下所示： -->
                <data
                    android:host="appkefu_url"
                    android:scheme="com.appkefu.demo2" />
            </intent-filter>
        </activity>
        <!-- 发送语音辅助service -->
        <service android:name="com.appkefu.lib.soundrecorder.KFRecorderService" />
        <service android:name="com.appkefu.lib.service.KFDownloadService" />

        <!-- im长连接 主service -->
        <service android:name="com.appkefu.lib.service.KFMainService">
            <intent-filter android:priority="1000">

                <!-- 可选 android:priority = "1000"这个属性设置最高优先级，1000是最高值，如果数字越小则优先级越低 -->
                <action android:name="com.appkefu.lib.action.kefu.LOGIN_WITH_OPENUDID" />
                <action android:name="com.appkefu.lib.action.DISCONNECT" />
                <action android:name="com.appkefu.lib.action.TOGGLE" />
                <action android:name="com.appkefu.lib.action.SEND" />
                <action android:name="com.appkefu.lib.action.NETWORK_STATUS_CHANGED" />
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
            </intent-filter>
        </service>
        <!-- 获取OpenUDID, 用于唯一标示用户 -->
        <service android:name="com.appkefu.OpenUDID.OpenUDID_service">
            <intent-filter>
                <action android:name="org.openudid.GETUDID" />
            </intent-filter>
        </service>
        <!-- 可选：监听网络变化 -->
        <receiver android:name="com.appkefu.lib.receivers.KFNetworkConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 可选：监听手机重启，方便重连im服务器, 需要配合权限RECEIVE_BOOT_COMPLETED使用 -->
        <receiver android:name="com.appkefu.lib.receivers.KFBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <!-- 可选：监听手机连接电源状态,如果已经连接电源自动尝试重连 -->
        <receiver android:name="com.appkefu.lib.receivers.KFPowerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- 监听客服发送过来的消息 -->
        <receiver android:name="com.appkefu.lib.receivers.KFMessageReceiver">
            <intent-filter>
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 可选：检测屏幕是否解锁,以便重连服务器 -->
        <receiver android:name="com.appkefu.lib.receivers.KFScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" /> <!-- 监听屏幕解锁 -->
            </intent-filter>
        </receiver>
        <!-- 定时检测是否需要重连im服务器,以便重连服务器 -->
        <receiver android:name="com.appkefu.lib.receivers.KFAlarmReceiver">
            <intent-filter>
                <action android:name="com.appkefu.lib.action.LOGIN_ALARM" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" />
        <activity
            android:name=".activity.SplashscreenActivity"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BMIActivity"
            android:label="@string/bmi" />
        <activity android:name=".activity.BMICalcActivity" />
        <activity android:name=".activity.HealthListActivity" />
        <activity
            android:name=".activity.BloodSugarActivity"
            android:label="@string/blood_sugar" />
        <activity android:name=".activity.BloodSugarAddActivity" />
        <activity
            android:name=".activity.BloodPressureActivity"
            android:label="@string/blood_pressure" />
        <activity android:name=".activity.BloodPressureAddActivity" />
        <activity android:name=".activity.WebBrowserActivity"></activity>
    </application>

</manifest>